<h1>Home</h1>

<%= debug session[:cart] %>

<% @beers.each do |beer| %>
  <h3><%= beer.name %></h3>
  <p>Price: <%= number_to_currency beer.price %> </p>
  <p><%= beer.description%></p>
  <p><%= button_to 'Add to cart.', add_to_cart_path(beer.id)%></p>
<%end%>


<%= paginate @beers %>